{% set ipaddresses = salt['pillar.get']('mdb_cluster:nodes', {}).values() %} 
{% set ipaddresses = ",".join(ipaddresses) %}
{% set cluster_name = salt['pillar.get']('mdb_cluster:name') %}
[galera]

wsrep_provider = /usr/lib64/galera/libgalera_smm.so
wsrep_provider_options = "pc.weight=3;gcache.size=2G;gcache.page_size=1G"
wsrep_cluster_address = "gcomm://{{ ipaddresses }}"
wsrep_node_address = "{{ salt['network.ipaddrs']('eth0')[0] }}"
wsrep_sst_method = xtrabackup-v2
wsrep_cluster_name = "{{ cluster_name }}"
wsrep_node_name = "{{ grains['fqdn'] }}"
wsrep_sst_auth = "root:{{ salt['pillar.get']('admins:root:password') }}"
wsrep_slave_threads = 8
